<footer class="px-8 lg:px-20 mt-5 lg:mt-10 py-5 lg:py-8 bg-slate-900 text-white bottom-0">
   <div class="flex items-center justify-between">
      <a href="/" class="flex items-center justify-between">
         <img src="/img/NextTechBlog.png" alt="NextTech Blog Logo" class="h-8 lg:h-10 mr-2">
         <span class="text-lg lg:text-2xl font-semibold">NextTech Blog</span>
      </a>
      <div class="flex items-center">
         <a href="about" class="mr-4 hover:underline md:mr-6">About</a>
         <a href="contact" class="mr-4 hover:underline md:mr-6">Contact</a>
      </div>
   </div>

   <hr class="my-5 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

   <div class="text-center">
      &copy; <%= new Date().getFullYear(); %> Copyright: NextTech Blog
   </div>
</footer>