<nav class="w-full sticky top-0 z-50 flex justify-between bg-slate-900 border-b items-center py-4 lg:py-8 px-8 lg:px-20 text-white">
    <div class="container mx-auto flex items-center justify-between">
        <a href="/" class="md:text-2xl text-lg flex items-center justify-between">
            <img src="/img/NextTechBlog.png" alt="NextTech Blog Logo" class="h-8 lg:h-10 mr-2">
            <span>NextTech Blog</span>
        </a>
        
        <!-- Desktop Nav  -->
        <div class="hidden md:flex space-x-8">
            <a href="/dashboard" class="nav-link hover:underline" id="register-link">Dashboard</a>
        </div>

        <!-- Mobile Nav -->
        <div class="md:hidden">
            <button id="mobile-menu-button" class="text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>

        <!-- Search Bar Toggle -->
        <div class="">
            <button class="text-white">
                <a href="/login">Logout</a>
            </button>
        </div>

    </div>
</nav>