<section class="container mx-auto px-8 lg:px-20 pt-10">
  <!-- About Us -->
  <h1 class="text-3xl text-center mb-8 font-semibold">About Us</h1>
  <div class="lg:flex justify-between mb-8 lg:mb-20">
    <div class="grid lg:w-1/2 content-between gap-5">
      <div>
        <h2 class="text-lg lg:text-xl">Our Vision</h2>
        <p class="text-gray-700 leading-7 mb-4">
          Is to see individuals in the tech industry excel in 
          their work and become proficient in problem-solving. 
          We envision a dynamic and innovative online 
          platform that serves as the go-to destination for technology 
          enthusiasts, professionals, and curious minds alike. 
          Our vision is to empower individuals with the latest insights, 
          knowledge, and experiences from the ever-evolving world of technology.
        </p>
      </div>
      <div>
        <h2 class="text-lg lg:text-xl">Our Mission</h2>
        <p class="text-gray-700 leading-7 mb-4">
          Is to encourage knowledge sharing among tech professionals, fostering 
          an environment where everyone can enjoy being a part of the tech industry by gaining valuable information.
          Empower individuals with the knowledge, 
          insights, and inspiration they need to thrive in the fast-paced world of technology. 
          We are dedicated to delivering exceptional value to our community and fulfilling our 
          commitment to innovation, education, and inclusivity.
        </p>
      </div>
      <div>
        <h2 class="text-lg lg:text-xl">Our Story</h2>
        <p class="text-gray-700 leading-7 mb-4">
          We understand that many people give up early on their tech careers due to the perceived 
          difficulty caused by a lack of information. Additionally, some individuals who aspire 
          to join the tech industry are deterred by the same lack of information.
          In the vast and ever-evolving landscape of technology, emerged as 
          a beacon of knowledge, innovation, and community. Our journey, marked by a relentless 
          pursuit of excellence, has been shaped by a profound passion for technology and a 
          commitment to empowering individuals on their tech adventures.
        </p>
      </div>
    </div>
    <div class="lg:w-2/5 lg:grid content-center">
      <img src="/img/NextTechBlog.png" alt="">
    </div>
  </div>

  <!-- Our Team -->
  <div>
    <h1 class="text-center text-xl lg:text-2xl mb-4">Our Team</h1>
    <div class="grid lg:flex gap-5 md:gap-8 text-white">
      <div class="grid md:grid-cols-2 lg:w-1/2">
        <div>
          <img src="/img/avatar.png" alt="">
        </div>
        <div class="bg-slate-900 grid justify-items-center p-4 lg:p-8">
          <h2 class="text-xl lg:text-2xl">Bongani Baloyi</h2>
          <p>Software Engineer</p>
          <div class="flex gap-2">
            <a href=""><i class="fa-brands fa-facebook animate-pulse"></i></a>
            <a href=""><i class="fa-brands fa-instagram animate-pulse"></i></a>
            <a href=""><i class="fa-brands fa-twitter animate-pulse"></i></a>
            <a href=""><i class="fa-brands fa-linkedin animate-pulse"></i></a>
            <a href=""><i class="fa-brands fa-github animate-pulse"></i></a>
          </div>
        </div>
      </div>
      <div class="grid md:grid-cols-2 lg:w-1/2">
        <div class="md:order-last">
          <img src="/img/avatar.png" alt="">
        </div>
        <div class="bg-slate-900 grid justify-items-center p-4 lg:p-8 lg:order-last">
          <h2 class="text-xl lg:text-2xl">Godwin Woode</h2>
          <p>Software Engineer</p>
          <div class="flex gap-2">
            <a href=""><i class="fa-brands fa-facebook animate-pulse"></i></a>
            <a href=""><i class="fa-brands fa-instagram animate-pulse"></i></a>
            <a href=""><i class="fa-brands fa-twitter animate-pulse"></i></a>
            <a href=""><i class="fa-brands fa-linkedin animate-pulse"></i></a>
            <a href=""><i class="fa-brands fa-github animate-pulse"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>