<div class="container mx-auto py-10">
  <h1 class="text-3xl text-center mb-8">Contact Us</h1>
  
  <div class="lg:flex flex-row-reverse justify-center">

      <div class="lg:w-1/2 px-4">
          <form class="bg-transparent rounded px-8 pt-6 pb-8 mb-4">
              <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                      Name
                  </label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Name">
              </div>
              <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                      Email
                  </label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" placeholder="Email">
              </div>
              <div class="mb-6">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="message">
                      Message
                  </label>
                  <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="message" placeholder="Your message"></textarea>
              </div>
              <div class="flex items-center justify-between">
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                      Send
                  </button>
              </div>
          </form>
      </div>

      <div class="lg:w-1/2 px-4 mt-8 lg:mt-0">
          <div class="bg-transparent rounded px-8 pt-6 pb-8">
              <h2 class="text-xl font-bold mb-4">Contact Us</h2>
              <p class="mb-2">064 435 9357</p>
              <p class="mb-2">233 264 175 879</p>
              <p class="mb-4"></span> info@nexttech.com</p>
          </div>
      </div>
  </div>
</div>